.launchItem {
  padding: 10px;
  max-width: 350px;
  margin: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  background-color: #005aff45;

  & > div:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  .launchItem {
    margin: 5px;
  }
}
